<% @page_header = 'Продукты' %> 

<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Категория</th>
		</tr>
	</thead>
	<tbody>
	<% @products.each do |product| %>
		<tr> 
		 <td> <a href='/products/<%= product['id'] %>/edit'><%= product['id'] %></a></td>
		 <td> <a href='/products/<%= product['id'] %>'><%= product['name'] %></a> </td>
		 <td> <%= product['cost'] %> </td>
		 <td> <%= product['category_id'] %> </td>
		</tr>
	<% end %>
	</tbody>
</table>	
<br>
<strong><a href="/products/new">Добавить продукт</a></strong>
<strong><a href="/products/:id/edit">Редактировать продукт</a></strong>